VERSION_XERCES	= 3.0.1
VERSION_ICU	= 3.8

REPOSITORY	    = $(SRCROOT)/../../../../..

FRAMEWORK_XBOX	    = $(REPOSITORY)/XToolbox/Main/Frameworks\ $(ARCHS)
FRAMEWORK_XERCES    = $(REPOSITORY)/xerces/$(VERSION_XERCES)/Frameworks\ $(ARCHS)
FRAMEWORK_ICU	    = $(REPOSITORY)/icu/$(VERSION_ICU)/Frameworks\ BSD

FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_XBOX) $(FRAMEWORK_XERCES) $(FRAMEWORK_ICU)  

HEADER_XBOX	    = $(REPOSITORY)/XToolbox/Main
HEADER_KERNEL	    = $(REPOSITORY)/XToolbox/Main/Kernel
HEADER_IPC	    = $(REPOSITORY)/XToolbox/Main/KernelIPC
HEADER_SERVNET	    = $(REPOSITORY)/XToolbox/Main/ServerNet

ICU_ROOT		= $(REPOSITORY)/icu/$(VERSION_ICU)
ICU_SOURCE	    = $(ICU_ROOT)/icu/source
ICU_COMMON	    = $(ICU_SOURCE)/common
ICU_I18N	    = $(ICU_SOURCE)/i18n
ICU_4D			= $(ICU_ROOT)/xcode/include


HEADER_ICU	    = $(ICU_SOURCE) $(ICU_COMMON) $(ICU_I18N) $(ICU_4D)

HEADER_SEARCH_PATHS = $(HEADER_XBOX) $(HEADER_KERNEL) $(HEADER_IPC) $(HEADER_SERVNET) $(HEADER_ICU)

ARCHS = x86_64

//ARCHS = x86_64
OTHER_CFLAGS = -Wfatal-errors -D__linux__
SYMROOT = $(SRCROOT)/../../../Frameworks BSD/
//FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS_BSD)
