#include "xtoolbox_base.xcconfig"

// sets OTHER_LDFLAGS overriden below
//#include "../../XToolbox/Main/weak_icu_release.xcconfig"

GCC_MODEL_TUNING = G5

// ask ld to do the strip symbols
DEPLOYMENT_POSTPROCESSING = YES
STRIP_INSTALLED_PRODUCT = NO
STRIP_STYLE = non-global
SEPARATE_STRIP = NO
COPY_PHASE_STRIP = NO

// -Wl,x asks for striping non-global symbols
OTHER_LDFLAGS = -Wl,-x -weak_framework icu

PRODUCT_NAME = $(PROJECT_NAME);