//Xerces Definition
VERSION_XERCES = 3.0.1
GCC_PREPROCESSOR_DEFINITIONS_XERCES = XERCES_3_0_1;

//ICU
VERSION_ICU = 4.8
FRAMEWORK_SEARCH_PATHS_ICU="$(SRCROOT)/../../../../../icu/$(VERSION_ICU)/Frameworks"
FRAMEWORK_SEARCH_PATHS_ICU_BSD="$(SRCROOT)/../../../../../icu/$(VERSION_ICU)/Frameworks BSD/"
GCC_PREPROCESSOR_DEFINITIONS_ICU = "xbox_icu=icu_48";

//MECAB
VERSION_MECAB = 0.996

//WebKit Version
VERSION_WEBKIT = 534.53

//JavascriptCore
CONFIG_WEBKIT_Debug=$(CONFIGURATION)
CONFIG_WEBKIT_Release=$(CONFIGURATION)
CONFIG_WEBKIT_Beta=Production

FRAMEWORK_SEARCH_PATHS_JSC = "${SRCROOT}/../../../../../webkit/${VERSION_WEBKIT}/JavaScriptCore/build_i386 x86_64/$(CONFIG_WEBKIT_$(CONFIGURATION))";

//Architecture
SDKROOT = macosx10.8

ARCHS = i386 x86_64
VALID_ARCHS = i386 x86_64
ONLY_ACTIVE_ARCH = YES

//Build Locations
SYMROOT = $(SRCROOT)/../../../Frameworks/
OBJROOT = $(SRCROOT)/build/$(TARGET_NAME)
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/
SHARED_PRECOMPS_DIR = $(SRCROOT)/SharedPrecompiledHeaders/$(TARGET_NAME)/$(CURRENT_ARCH)/$(CONFIGURATION)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(TARGET_NAME)/$(CONFIGURATION)

//Build Option
DEBUG_INFORMATION_FORMAT = dwarf

//Compiler Version use system default which is gcc4.2 with xcode 3.2 and LLVM 3 with xcode 4.2
//GCC_VERSION = 4.2

//Deployement
MACOSX_DEPLOYMENT_TARGET = 10.7
INSTALL_PATH = @executable_path/../Frameworks
SKIP_INSTALL = YES

//Linking
MACH_O_TYPE = mh_dylib
PREBINDING = NO
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1

//Packaging
WRAPPER_EXTENSION = framework
INFOPLIST_FILE = Info.plist
FRAMEWORK_VERSION = A

//Search Path
FRAMEWORK_SEARCH_PATHS_BASE = "${SRCROOT}/../../../Frameworks/" "${SRCROOT}/../../../../../xerces/$(VERSION_XERCES)/Frameworks"
FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS_BASE) $(FRAMEWORK_SEARCH_PATHS_ICU) 
FRAMEWORK_SEARCH_PATHS_BSD = $(FRAMEWORK_SEARCH_PATHS_BASE) $(FRAMEWORK_SEARCH_PATHS_ICU_BSD)

HEADER_SEARCH_PATHS = ${SRCROOT}/../../.. ${SRCROOT}/../../Sources  ${SRCROOT}/../../Headers
HEADER_SEARCH_PATHS_XERCES = "${SRCROOT}/../../../../../xerces/$(VERSION_XERCES)/xerces/src"
HEADER_SEARCH_PATHS_JSC = "$(SRCROOT)/../../../../../webkit/${VERSION_WEBKIT}/JavaScriptCore/ForwardingHeaders" "$(SRCROOT)/../../../../../webkit/${VERSION_WEBKIT}" "$(SRCROOT)/../../../../../webkit/${VERSION_WEBKIT}/WebCore/inspector" "$(SRCROOT)/../../../../../webkit/${VERSION_WEBKIT}/JavaScriptCore/4D"
HEADER_SEARCH_PATHS_ICU = "$(SRCROOT)/../../../../../icu/$(VERSION_ICU)/xcode/include" "$(SRCROOT)/../../../../../icu/$(VERSION_ICU)/icu/source/common" "$(SRCROOT)/../../../../../icu/$(VERSION_ICU)/icu/source/i18n"
HEADER_SEARCH_PATHS_COMPONENTS = "$(SRCROOT)/../../../../../Components/WAK9"
HEADER_SEARCH_PATHS_CORERUNTIME = "$(SRCROOT)/../../../../../CoreRuntime/WAK9/Sources"
HEADER_SEARCH_PATHS_MECAB = "$(SRCROOT)/../../../../../mecab/$(VERSION_MECAB)/mecab_for_4d"

//GCC 4.2 Code Generation
GCC_MODEL_TUNING = G5
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_THREADSAFE_STATICS = NO

//GCC Language
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO

//GCC 4.2 Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_ICU) $(GCC_PREPROCESSOR_DEFINITIONS_XERCES) $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION)); 
GCC_PREPROCESSOR_DEFINITIONS_Debug = VERSIONDEBUG=1;
GCC_PREPROCESSOR_DEFINITIONS_Coverage = VERSIONDEBUG=1;
GCC_PREPROCESSOR_DEFINITIONS_Beta = VERSIONDEBUG=0 WITH_DEBUGMSG=1 WITH_ASSERT=1;
GCC_PREPROCESSOR_DEFINITIONS_Performance = VERSIONDEBUG=0;
GCC_PREPROCESSOR_DEFINITIONS_Release = VERSIONDEBUG=0;

//GCC 4.2 Warning
WARNING_CFLAGS = -Wshorten-64-to-32
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_SHADOW = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = NO

//User Defined
GCC_PFE_FILE_C_DIALECTS = c++

