MACOSX_DEPLOYMENT_TARGET_i386 = 10.4
MACOSX_DEPLOYMENT_TARGET_ppc = 10.3
SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
MACH_O_TYPE = mh_dylib
WRAPPER_EXTENSION = framework
INFOPLIST_FILE = Info.plist
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PFE_FILE_C_DIALECTS = c++
SKIP_INSTALL = YES
GCC_MODEL_TUNING_ppc = G5
PREBINDING = NO
INSTALL_PATH = @executable_path/../Frameworks
SYMROOT = $(SRCROOT)/../../../Frameworks
OBJROOT = $(SRCROOT)/build
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_THREADSAFE_STATICS = NO
